@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
  }

  .dark {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --background: 0, 0%, 0%;
    /* --background: 222.2 84% 4.9%; */
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  :root {
    --radius: 0.5rem;

    --brand: 221 82 76;
    --player-theme: 221 82 76;
    /* red-500 */
    --danger: 239 68 68 / 0.6;
    /* green-500 */
    --success: 34 197 94 / 0.8;

    /* zinc-300 */
    --primary-1: 212 212 216;
    /* zinc-400 */
    --primary-2: 161 161 170;
    /* zinc-500 */
    --primary-3: 113 113 122;

    /* zinc-800 */
    --secondary-1: 39 39 42;
    /* zinc-700 */
    --secondary-2: 63 63 70;
  }
}

@layer base {
  body {
    @apply text-primary-1;
    @apply flex min-h-screen w-full flex-col;
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }
  main {
    @apply flex grow flex-col items-center py-12;
  }
}

@layer components {
  .drawer-icon {
    @apply h-4 w-4 select-none;
  }
  .overlay-icon {
    @apply h-16 w-16 select-none;
  }
  .slider-controls-icon {
    @apply h-6 w-6 select-none;
  }
}

@layer utilities {
  .action {
    @apply cursor-pointer whitespace-nowrap transition-colors;
    @apply bg-secondary-1/50 hover:!bg-secondary-1/70;
    @apply rounded-md border border-secondary-2;
    @apply disabled:pointer-events-none disabled:opacity-50;

    &.brand {
      @apply !border-brand !bg-brand/50 hover:!bg-brand/60;
    }
  }
  .panel {
    @apply rounded-lg border border-transparent transition-colors;
    @apply hover:border-neutral-700 hover:bg-neutral-800/30;
    @apply disabled:pointer-events-none disabled:opacity-50;
  }
  .disable {
    @apply pointer-events-none cursor-default select-none opacity-50;
  }
  .center {
    @apply flex flex-col items-center justify-center;
  }
  .autofill-bg {
    @apply shadow-[inset_0_0_0px_1000px_rgb(var(--secondary-2))];
  }
}
